.event-item-container {
    display: flex;
    margin: 24px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.event-info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 14px;
}

.event-name {
    margin: 0;
    font-size: 22px;
}

.event-info {
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.see-more-btn {
    margin-top: 8px;
}

.hearthImage {
    position: absolute;
    width: 28px;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

.imageContainer {
    position: relative;
}