.active {
    border-bottom: 2px solid #fff;
}

.tab {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.tab:hover {
    opacity: 0.7;
}

.tabContainer {
    margin-bottom: 20px 0;
}

.homeLink {
    color: #fff;
    text-decoration: none;
}